<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>404, Not found - Share things.</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <script>
            try{var link=document.createElement('link');link.rel='stylesheet';if(window.screen.width < 768) {link.href="/css/mobile.css";} else {link.href="/css/large.css";}document.getElementsByTagName('head')[0].appendChild(link);link.addEventListener('load', function () {document.getElementById('app').setAttribute('class', '');})}catch(e) {document.getElementById('app').setAttribute('class', '')}
        </script>   
    </head>
 
    <body>
        <div class="hero background">
            <img class="hero-img" src="/assets/undraw_not_found.svg">
        </div>
        <div class="container index">
            <h1>404, Not found</h1>
            <span>This page doesn't exist.</span>
        </div>

        <div class="container index">
            <h2>Want to share?</h2>
            <form action="/join" method="POST">
                <label>Join a room</label>
                <input type="text" name="code" placeholder="Code" maxlength="5">
                <input type="submit" id="join" name="join" value="Join">
            </form>
    
            <form action="/create" method="POST">
                <label>Create a room</label>
                <input type="text" name="code" placeholder="Code (optionnal)" maxlength="5">
                <input type="submit" id="create" name="create" value="Create">
            </form>
        </div>
        <div class="container index">
            <div class="hero">
                <img class="hero-img" src="/assets/undraw_taking_selfie.svg">
            </div>
            <h1>Share things.</h1>
        </div>

        <div class="container index">
            <h2>By Arthaud Proust</h2>
        </div>
    </body>
    <script>
        const codeRoom = document.querySelector('input[name="code"]');if(codeRoom) codeRoom.addEventListener("keyup", function () {this.value = this.value.toUpperCase();});
    </script>
</html>