<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PLay snake online</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, user-scalable=0">
        <script>
            try{var link=document.createElement('link');link.rel='stylesheet';if(window.screen.width < 768) {link.href="/css/mobile.css";} else {link.href="/css/large.css";}document.getElementsByTagName('head')[0].appendChild(link);}catch(e) {}
        </script> 
    </head>
 
    <body style="justify-content: center;">
        <h1>Snake multijoueur</h1>
        <a href="/play" id="play">Rejoindre la partie</a>
    </body>
</html>