<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, user-scalable=0">
        <script src="/js/socket.io.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jcanvas.min.js"></script>
        <script>
            try{var link=document.createElement('link');link.rel='stylesheet';if(window.screen.width < 768) {link.href="/css/mobile.css";} else {link.href="/css/large.css";}document.getElementsByTagName('head')[0].appendChild(link);}catch(e) {}
        </script> 
    </head>
 
    <body>
        <h1>Multi SNaKE</h1>
        <b>Score <span id="score"></span></b>
        <span id="infoArrow">Use arrow keys to move</span>
        <div id="touch">
            <img id="up" src="/assets/up.svg">
            <img id="left" src="/assets/left.svg">
            <img id="right" src="/assets/right.svg">
            <img id="down" src="/assets/down.svg">
        </div>
    </body>

    <script src="/js/base.js"></script>
    <script src="/js/map.js"></script>
</html>